<%= turbo_frame_tag "modal" do %>
  <div data-controller="modal">
    <div data-action="click->modal#close" class="fixed top-0 left-0 z-10 w-full h-full bg-black bg-opacity-40"></div>
    <div data-modal-target="sidebar" class="fixed top-0 right-0 z-20 flex flex-col w-1/2 h-full p-5 overflow-y-scroll duration-300 ease-in-out translate-x-full bg-white shadow sm:w-3/6 lg:w-2/6">
      <p class="mb-4 cursor-pointer" data-action="click->modal#close">❌</p>
      <h2 class="mb-4 font-bold"><%= t('.title') %></h2>

      <%= render 'form' %>
    </div>
  </div>
<% end %>
