<div class="p-4 mt-10 mb-4 bg-white rounded-lg">
      <%= render partial: 'products/product_details', locals: { product: @product }, class: "object-cover object-center w-full h-full mt-10 mb-10" %>
</div>

